@keyframes cards{
    0% {
      opacity: 0;
      height: 10px;
    }
    100% {
      opacity: 1;
      height: 122px;
    }
}

.card{
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--secondBgLight);
    padding: 5px;
    width: 100%;
    animation-name: cards;
    animation-duration: 2s;
}
  
.totalCardPositive{
    background-color: var(--light-green);
  
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;

    animation-name: cards;
    animation-duration: 2s;
}

.totalCardNegative{
    background-color: var(--strong-red);
  
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.income{
    color: var(--light-green);
    font-weight: bold;
    font-size: 20px;
}
  
.expense{
    color: var(--light-red);
    font-weight: bold;
    font-size: 20px;
}
  
.total{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.subsubtitle{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* dark styles */
.cardDark{
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--secondBgDark);
    padding: 5px;
    width: 100%;

    animation-name: cards;
    animation-duration: 2s;
}

@media(min-width: 900px){
    .card{
        min-width: 200px;
    }
}