.body{
    background-color: var(--mainBgDark);
    min-height: 100vh;
}

.header{
    padding: 3rem;
    background-color: var(--mainDarkTheme);
    color: var(--secondBgLight);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

.subtitle{
    margin-top: 0;
    margin-bottom: 0.8rem;
    color: var(--text-dark);
  
    font-weight: normal;
    text-align: center;
}

.buttonCancel{
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
  
    color: var(--strong-red);
    border: 2px var(--strong-red) solid;
    border-radius: 0.25rem;
  
    height: 50px;
    width: 48%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.footerTitle{
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}