:root{
  --mainBgLight: #D8E2DC;
  --secondBgLight: #FFF;
  --mainLightTheme: #A2EB87;
  --text-light: #25283D;

  --mainBgDark: #29292e;
  --secondBgDark: #81838f;
  --mainDarkTheme: #121213;
  --text-dark: #fff;

  --light-green: #62D239;
  --light-red: #E83F5B;
  --strong-red: #F1424B;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html,
body{
  padding: 0;
  margin: 0;
  height: 100%;
}